html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js") 
        link(rel="stylesheet", href="style/style.css")
    body 
        .fb
            .header 
                img.icon(src="./facebook.png")
                input(placeholder="搜尋人,地點,事物")
            .background 
                img.back_img(src="https://bit.ly/2R3apj8")
            .content
                .name
                    h2.nametxt 陳重佐
                    h5.nametxt (Jerry Chen)
                .selfish 
                    img.self_img(src="./selfish.jpg")
                .discribe 
                    ul.ul 
                        li.li.li1 待業中
                        li.li.li2 之前任職：無
                        li.li.li3 就讀國立高雄科技大學電機工程系
                        li.li.li4 現居高雄市
        script(src="./script/script.js",)    